.link {
    position: absolute;
    left: 10px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #34B3FF;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
}

.title {
    font-weight: 600;
    font-size: 40px;
}

.button {
    margin-top: 20px;
}